{% load static %}
<div class="navbar-fixed " onload="startTime()">
   <nav>
    <div class="nav-wrapper  grey darken-4">
      <a href="/" class="brand-logo">DevNgecu</a><a href="" class="typewrite" data-period="2000" data-type='[" Code Like A BOSS", " Python"," JavaScript"]'>
        <span class="wrap" style="color: white;"></span>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li>  {{today}}</li>

      </ul>
    </div>
  </nav>
  </div>





